In [99]:
from __future__ import division

import pandas as pd
import numpy as np
import os

In [2]:
DATA_DIR = os.path.join(os.getcwd(), "data")

In [3]:
df = pd.read_csv(os.path.join(DATA_DIR, "HW1-data.csv"))

In [4]:
df.head()

,User,"Gender (1 =F, 0=M)",260: Star Wars: Episode IV - A New Hope (1977),1210: Star Wars: Episode VI - Return of the Jedi (1983),356: Forrest Gump (1994),"318: Shawshank Redemption, The (1994)","593: Silence of the Lambs, The (1991)",3578: Gladiator (2000),1: Toy Story (1995),2028: Saving Private Ryan (1998),...,2396: Shakespeare in Love (1998),2916: Total Recall (1990),780: Independence Day (ID4) (1996),541: Blade Runner (1982),1265: Groundhog Day (1993),"2571: Matrix, The (1999)",527: Schindler's List (1993),"2762: Sixth Sense, The (1999)",1198: Raiders of the Lost Ark (1981),34: Babe (1995)
0,755,0,1.0,5.0,2.0,NaN,4.0,4.0,2.0,2.0,...,2.0,NaN,5.0,2.0,NaN,4.0,2.0,5.0,NaN,NaN
1,5277,0,5.0,3.0,NaN,2.0,4.0,2.0,1.0,NaN,...,3.0,2.0,2.0,NaN,2.0,NaN,5.0,1.0,3.0,NaN
2,1577,1,NaN,NaN,NaN,5.0,2.0,NaN,4.0,NaN,...,NaN,1.0,4.0,4.0,1.0,1.0,2.0,3.0,1.0,3.0
3,4388,0,NaN,3.0,NaN,NaN,NaN,1.0,2.0,3.0,...,NaN,4.0,1.0,3.0,5.0,NaN,5.0,1.0,1.0,2.0
4,1202,1,4.0,3.0,4.0,1.0,4.0,1.0,NaN,4.0,...,5.0,1.0,NaN,4.0,NaN,3.0,5.0,5.0,NaN,NaN

In [5]:
df.shape

(20, 22)

In [37]:
# Mean
df.mean(axis=0).reset_index()[2:]\
.rename(columns={'index': 'movie', 0: 'avg_rating'})\
.reset_index(drop=True)\
.sort_values(by=['avg_rating'], ascending=False).head(3)

                                             movie  avg_rating
3            318: Shawshank Redemption, The (1994)    3.600000
0   260: Star Wars: Episode IV - A New Hope (1977)    3.266667
13                        541: Blade Runner (1982)    3.222222

In [36]:
# Number of ratings
df.isnull().sum().reset_index()[2:].sort_values(by=[0], ascending=True).head(3)

                                            index  0
8                             1: Toy Story (1995)  3
6           593: Silence of the Lambs, The (1991)  4
2  260: Star Wars: Episode IV - A New Hope (1977)  5

In [38]:
# % of ratings 4+ (liking)
(df.apply(lambda x:x>=4, axis=0).sum() / df.notnull().sum())\
.reset_index()[2:]\
.sort_values(by=[0], ascending=False).head(3)

                                            index         0
5           318: Shawshank Redemption, The (1994)  0.700000
2  260: Star Wars: Episode IV - A New Hope (1977)  0.533333
7                          3578: Gladiator (2000)  0.500000

In [109]:
# Top movies for someone who saw Toy Story
parent_movie = '1: Toy Story (1995)'

# Find users who rated parent movie
x = df[df[parent_movie].notnull() == True].nunique(axis=0).head(1)[0]

# Association with parent movie
(df[df[parent_movie].notnull() == True]\
.apply(lambda x:x.count(), axis=0)[2:]\
.reset_index()\
.rename(columns={'index': 'movie', 0: 'pct'})\
.reset_index(drop=True)\
.set_index(['movie'])\
.drop(parent_movie, axis=0) / x)\
.apply(lambda x:np.round(x, decimals=3), axis=1)\
.sort_values(['pct', 'movie'], ascending=[False, True])\
.head(3)

                                                      pct
movie
260: Star Wars: Episode IV - A New Hope (1977)      0.824
1210: Star Wars: Episode VI - Return of the Jed...  0.765
593: Silence of the Lambs, The (1991)               0.765